

<div class="container" style="width: 63%;padding:35px 0px 0px 0px" >
    <div class="row">

        <div class="col-sm-6 col-md-8"><div class="gameText">公司动态</div><div class="gameTextE">NEWS</div></div>

    </div>
</div>



<div class="container" style="width: 63%;" id="detail">
    <div class="row" style="margin-top: 2%">
            <div class="col-md-4" style="padding: 10px;">
             <img src="/static/images/smallHSSJ.png" width="100%">
            </div>
            <div class="col-md-8">
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-12" style="font-size: 24px;font-weight: bold;color: #080808">
                        标题标题标题标题标题标题标题标题
                    </div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                        2016年5月11日
                    </div>

                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                        动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: right;margin-top: -1%;margin-bottom: 1%">
                       <a href="newsDetail.html" style="text-decoration:none;font-size: 18px">阅读全文>></a>
                    </div>
                </div>

            </div>
    </div>

    <div class="row" style="margin-top: 2%">
        <div class="col-md-4" style="padding: 10px;">
            <img src="/static/images/smallGems.png" width="100%">
        </div>
        <div class="col-md-8">
            <div class="row" style="margin-top: 2%">
                <div class="col-md-12" style="font-size: 24px;font-weight: bold;color: #080808">
                    标题标题标题标题标题标题标题标题
                </div>
            </div>
            <div class="row" style="margin-top: 2%">
                <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                    2016年5月11日
                </div>

            </div>
            <div class="row" style="margin-top: 2%">
                <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                    动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。
                </div>


            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right;margin-top: -1%;margin-bottom: 1%">
                    <a href="#" style="text-decoration:none;font-size: 18px">阅读全文>></a>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 2%">
        <div class="col-md-4" style="padding: 10px;">
            <img src="/static/images/smallTD.png" width="100%">
        </div>
        <div class="col-md-8">
            <div class="row" style="margin-top: 2%">
                <div class="col-md-12" style="font-size: 24px;font-weight: bold;color: #080808">
                    标题标题标题标题标题标题标题标题
                </div>
            </div>
            <div class="row" style="margin-top: 2%">
                <div class="col-md-12" style="font-size: 18px;color: #adadad">
                    2016年5月11日
                </div>

            </div>
            <div class="row" style="margin-top: 2%">
                <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                    动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。动态简介，限150字。
                </div>


            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right;margin-top: -1%;margin-bottom: 1%">
                    <a href="#" style="text-decoration:none;font-size: 18px">阅读全文>></a>
                </div>
            </div>

        </div>
    </div>

</div>

<div>

</div>


<div style="float: left;width: 100%;text-align: center">
    <p>
        <span>上一页  &nbsp;&nbsp;   <span style="color: blue">[1]</span>  &nbsp;&nbsp;  [2]  &nbsp;&nbsp;  [3]  &nbsp;&nbsp;  下一页</span>
    </p>
</div>

<!--<div id="footerId"></div>-->
