{% extends "base.html" %}
{% block content %}

<div class="container">
    <div style="text-align: center;margin-top: 20px">
        <p>
            <span style="text-align: center ;font-size: 36px;font-family: '微软雅黑 Bold', 微软雅黑">
                {{ game.name }}
            </span>
        </p>

    </div>

    <div>
        <div style="text-align: left">
            <p>
                <span  style="text-align: center ;font-size: 24px;font-family: '微软雅黑 Regular', 微软雅黑">
                    游戏简介
                </span>
            </p>

            <p>
                <span style="white-space: normal;font-family: '微软雅黑 Regular',微软雅黑;font-size: 18px;font-style: normal;">
                    {{ game.main_desc|truncatechars:180 }}
                </span>
            </p>

        </div>
        <!-- 游戏截图 -->
        <div style="margin-top: 50px;margin-bottom: 50px;">
            <p>
                <span  style="text-align: center ;font-size: 24px;font-family: '微软雅黑 Regular', 微软雅黑">
                    游戏截图
                </span>
            </p>

            <div class="row" style="width: 90%;text-align: center;margin-left: 5%" align="center">
                {% for showpicture in game.showpictures|slice:":3" %}
                <div class="col-sm-6 col-md-4" >
                    <div class="thumbnail">
                        <img src="{{ showpicture }}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <div style="text-align: left;margin-bottom: 200px;">
            <p>
                <span  style="text-align: center ;font-size: 24px;font-family: '微软雅黑 Regular', 微软雅黑">
                    游戏特色
                </span>
            </p>
            <p>
                <span style="white-space: normal;font-family: '微软雅黑 Regular',微软雅黑;font-size: 18px;font-style: normal;">
                    {{ game.feature_desc|truncatechars:100 }}
                </span>
            </p>
        </div>
    </div>

</div>
{% endblock %}
