{% extends "base.html" %}

{% block content %}

<div class="pr zi01 index_Banner cl" id="index_Banner">
    <div class="pr zi01 ban_Ovh" id="ban_Ovh">
        
        <div class="pa zi02 banCon banC01 dis_n" data-href="dream.html" style="display: block; opacity: 0;">
            <div class="pr banIn mat tsbg banIn01">
<!--                 <img class="pa zi01 xx01" src="./骏梦游戏_files/xing01.gif" width="18" height="18">
                <img class="pa zi01 xx02" src="./骏梦游戏_files/xing01.gif" width="22" height="22">
                <img class="pa zi01 xx03" src="./骏梦游戏_files/xing01.gif" width="15" height="15">
                <img class="pa zi01 xx04" src="./骏梦游戏_files/xing01.gif" width="16" height="16">
                <img class="pa zi01 xx05" src="./骏梦游戏_files/xing01.gif" width="24" height="24">
                
                <img class="pa zi01 wz" src="./骏梦游戏_files/dream_Wz01.gif" width="278" height="170">
                
                <img class="pa zi03 yy01" src="./骏梦游戏_files/yun01.png" width="224" height="130">
                <img class="pa zi03 yy02" src="./骏梦游戏_files/yun02.png" width="128" height="76">
                <img class="pa zi02 yy03" src="./骏梦游戏_files/yun04.png" width="124" height="80">
                
                <img class="pa zi02 tz01" src="./骏梦游戏_files/tingzi.png" width="312" height="388">
                
                <img class="pa zi03 rm01" src="./骏梦游戏_files/xiaoma01.png" width="158" height="136">
                <img class="pa zi04 rm02" src="./骏梦游戏_files/xiaoma02.png" width="160" height="160">
                <img class="pa zi03 rm03" src="./骏梦游戏_files/xiaoma03.png" width="158" height="136"> -->
            </div>
        </div>
        
<!--         <div class="pa zi02 banCon banC02 dis_n" data-href="http://www.xianjian.com/" style="display: block; opacity: 0;">
            <div class="pr banIn mat tsbg banIn02">
                <img class="pa zi01 lg" src="./骏梦游戏_files/banC02_logo.png" width="164" height="102">
                <img class="pa zi02 rw" src="./骏梦游戏_files/banC02_tu_02.png" width="530" height="398">
            </div>
        </div>
        
        <div class="pa zi02 banCon banC03 dis_n" data-href="http://www.qins.com/" style="display: block; opacity: 0;">
            <div class="pr banIn mat tsbg banIn03">
                <img class="pa zi02 lg" src="./骏梦游戏_files/banIn03_Logo.jpg" width="158" height="98">
                
                <img class="pa zi02 rw" src="./骏梦游戏_files/banIn03_Tu_04.png" width="502" height="420">
                
                <img class="pa zi01 hb01" src="./骏梦游戏_files/banIn03_Tu_02.png" width="92" height="101">
                <img class="pa zi01 hb02" src="./骏梦游戏_files/banIn03_Tu_03.png" width="115" height="68">
            </div>
        </div>
        
        <div class="pa zi02 banCon banC04 dis_n" data-href="http://meng.haohaowan.com/" style="display: block; opacity: 0;">
            <div class="pr banIn mat tsbg banIn04">
                <img class="pa zi01 lg" src="./骏梦游戏_files/banIn04_logo.gif" width="200" height="92">
                <img class="pa zi02 rw" src="./骏梦游戏_files/banIn04_Tu_02.png" width="378" height="394">
            </div>
        </div>
        
        <div class="pa zi02 banCon banC05 dis_n on" data-href="" style="display: block; opacity: 0.104922493812155;">
            <div class="pr banIn mat tsbg banIn05">
                <img class="pa zi01 lg" src="./骏梦游戏_files/banIn05_logo.png" width="220" height="68">
                
                <img class="pa zi03 rw01" src="./骏梦游戏_files/banIn05_Tu_02.png" width="672" height="386">
                <img class="pa zi02 rw02" src="./骏梦游戏_files/banIn05_Tu_03.png" width="298" height="370">
            </div>
        </div>
        
        <div class="pa zi02 banCon banC06 dis_n on" data-href="http://ali.haohaowan.com/" style="display: block; opacity: 0.895077506187845;">
            <div class="pr banIn mat tsbg banIn06">
                <img class="pa zi01 lg" src="./骏梦游戏_files/banIn06_logo.png" width="200" height="110">
                <img class="pa zi02 rw" src="./骏梦游戏_files/banIn06_Tu_02.png" width="394" height="404">
            </div>
        </div> -->

        <div class="pa zi02 banCon banC06 dis_n on" data-href="" style="display: block; opacity: 0.895077506187845;">
            <div class="pr banIn mat tsbg banIn06">
<!--                 <img class="pa zi01 lg" src="./骏梦游戏_files/banIn06_logo.png" width="200" height="110">
                <img class="pa zi02 rw" src="./骏梦游戏_files/banIn06_Tu_02.png" width="394" height="404"> -->
            </div>
        </div>
        
    </div>
    
    <!-- <div class="pa zi03 ban_Nav banNc06" id="ban_Nav" style="opacity: 1; top: 109px;"><em class=""></em><em class=""></em><em class=""></em><em class=""></em><em class=""></em><em class="on"></em></div> -->
</div>

<div class="main cl">
    <div class="content mat cl">
        <div class="our_Games">
            <div class="bt cl">
                <img class="fl" src="/static/img/index_Bt_03.gif" width="230" height="24">
                <span class="fr">
                    <a class="pr" href="">更多游戏</a>
                </span>
            </div>
            <div class="our_Games_Con">
                <ul class="cl">
                    
                    <li class="fl">
                        <a class="dis_b" href=""><img class="dis_b tsAl" src="" width="172" height="230"></a>
                        <span class="cl">
                            <a class="fl" href="">aaaaa</a>
                            <a class="fr" href="">官网</a>
                            <i class="fr">|</i>
                            <a class="fr" href="">简介</a>
                        </span>
                    </li>

                    <li class="fl">
                        <a class="dis_b" href=""><img class="dis_b tsAl" src="" width="172" height="230"></a>
                        <span class="cl">
                            <a class="fl" href="">aaaaa</a>
                            <a class="fr" href="">官网</a>
                            <i class="fr">|</i>
                            <a class="fr" href="">简介</a>
                        </span>
                    </li>
                    <li class="fl">
                        <a class="dis_b" href=""><img class="dis_b tsAl" src="" width="172" height="230"></a>
                        <span class="cl">
                            <a class="fl" href="">aaaaa</a>
                            <a class="fr" href="">官网</a>
                            <i class="fr">|</i>
                            <a class="fr" href="">简介</a>
                        </span>
                    </li>
                    <li class="fl">
                        <a class="dis_b" href=""><img class="dis_b tsAl" src="" width="172" height="230"></a>
                        <span class="cl">
                            <a class="fl" href="">aaaaa</a>
                            <a class="fr" href="">官网</a>
                            <i class="fr">|</i>
                            <a class="fr" href="">简介</a>
                        </span>
                    </li>
                    <li class="fl">
                        <a class="dis_b" href=""><img class="dis_b tsAl" src="" width="172" height="230"></a>
                        <span class="cl">
                            <a class="fl" href="">aaaaa</a>
                            <a class="fr" href="">官网</a>
                            <i class="fr">|</i>
                            <a class="fr" href="">简介</a>
                        </span>
                    </li>
                    
                </ul>
            </div>
        </div>
        
        <div class="our_dt cl">
            <img class="dis_b mb22" src="/static/img/index_Bt_06.gif" width="242" height="24">
            <div class="cl">
                <div class="fl newsFl">
                    <div class="bt_BgCl mb10 btCon cl">
                        <span class="fl"><strong>新闻动态</strong>NEWS</span>
                        <a class="fr tsAl aMore" href="">更多</a>
                    </div>
                    <div class="cont_Ul">
                        <ul>
                            
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">wwwwwwwwwwwwwwwwwwwww</a>
                                <span class="fr">2015-01-16</span>
                            </li>

                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">wwwwwwwwwwwwwwwwwwwww</a>
                                <span class="fr">2015-01-16</span>
                            </li>
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">wwwwwwwwwwwwwwwwwwwww</a>
                                <span class="fr">2015-01-16</span>
                            </li>
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">wwwwwwwwwwwwwwwwwwwww</a>
                                <span class="fr">2015-01-16</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fr zxnsFr">
                    <div class="bt_BgCl mb10 btCon cl">
                        <span class="fl"><strong>招贤纳士</strong>RECRUITMENT</span>
                        <a class="fr tsAl aMore" href="join.html">更多</a>
                    </div>
                    <div class="cont_Ul">
                        <ul>
                            
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">c++程序</a>
                                <span class="fr">2014-09-17</span>
                            </li>
                            
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">cccccccc</a>
                                <span class="fr">2014-09-17</span>
                            </li>
                            
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">kkkkkk</a>
                                <span class="fr">2014-09-17</span>
                            </li>
                            
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="">手游/页游测试</a>
                                <span class="fr">2014-09-17</span>
                            </li>
                            
                            <li class="cl">
                                <a class="fl text_Ov tsCl" href="http://xxxxx/join.html?category=2">美术实习生</a>
                                <span class="fr">2014-09-17</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>


{% endblock %}
