{% extends "base.html" %}
{% block content %}
<div class="container">
    <div  style="margin-top: 70px;margin-bottom: 30px;">
        <p style="text-align: left">
                <span style="font-size: 36px ;font-family: '微软雅黑 Bold', 微软雅黑 ;color: #000000;font-weight: 700">
                    公司动态
                </span>
                <span style="margin-left: 10px;font-size: 24px;font-family: '微软雅黑 Bold', 微软雅黑 ;color: #999999;font-weight: 700">
                    NEWS
                </span>
        </p>
    
    </div>


    <div class="container" style="min-height: 500px;" id="detail">
        {% for new in news %}
        <div class="row" style="margin-top: 2%;background: white;">
            <div class="col-md-4" style="padding: 10px;">
            <img src="{{ new.picture }}" width="100%">
            </div>
            <div class="col-md-8">
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-12" style="font-size: 24px;font-weight: bold;color: #080808">
                        {{ new.title }}
                    </div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                        {{ new.time }}
                    </div>
    
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-md-12"  style="font-size: 18px;color: #adadad">
                        {{ new.content|truncatechars:150 }}
                    </div>
    
    
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: right;margin-top: -1%;margin-bottom: 1%">
                       <a href="{% url 'newsDetail' forloop.counter0 %}" style="text-decoration:none;font-size: 18px">阅读全文>></a>
                    </div>
                </div>
    
            </div>
        </div>
        {% endfor %}
        <!-- 分页 -->
        <div style="float: left;width: 100%;text-align: center;margin-top: 60px">
            <ul id="page">
        
                <li>
                    <a  class="next" href="{% url 'news' pre_pag %}"><span>&lt;</span></a>
                </li>
        
                {% for pag_index in total_pags %}
                <li>
                    {% if pag_index == pag %}
                        <a class="pagea" href="{% url 'news' pag_index %}" style=" border: 1px solid #0099ff;text-decoration: none"><span style="color: #0099ff">{{ pag_index }}</span></a>
                    {% else %}
                        <a class="pagea" href="{% url 'news' pag_index %}"><span>{{ pag_index }}</span></a>
                    {% endif %}
                </li>
                {% endfor %}
        
                <li>
                    <a  class="next" href="{% url 'news' next_pag %}"><span>&gt;</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
{% endblock %}
